openapi: 3.0.3
info:
  title: DEFRAG API
  version: 0.1.0
servers:
  - url: https://api.defrag.app
paths:
  /healthz:
    get:
      summary: Health check
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { type: object, properties: { status: { type: string, enum: [ok] } }, required: [status] }
  /:
    get:
      summary: Root (auth required)
      security: [{ ApiKeyAuth: [] }]
      responses:
        '401': { description: Unauthorized }
  /classify:
    post:
      summary: Classify text
      security: [{ ApiKeyAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, properties: { text: { type: string } }, required: [text] }
      responses:
        '200':
          description: Classification result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  label: { type: string, enum: [positive, negative, neutral] }
                  score: { type: number, minimum: 0, maximum: 1 }
                required: [ok, label, score]
        '400': { description: Invalid payload }
        '401': { description: Unauthorized }
  /mandalas:
    post:
      summary: Upload a mandala PNG
      security: [{ ApiKeyAuth: [] }]
      requestBody:
        required: true
        content:
          image/png:
            schema:
              type: string
              format: binary
      responses:
        '201':
          description: Mandala stored
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  id: { type: string }
                  key: { type: string }
                  size: { type: integer }
                required: [ok, id, key, size]
        '401': { description: Unauthorized }
        '413': { description: Payload too large }
  /mandalas/{key}:
    get:
      summary: Retrieve a mandala PNG
      parameters:
        - name: key
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: PNG bytes
          content:
            image/png:
              schema: { type: string, format: binary }
        '404': { description: Not found }
  /webhooks/stripe:
    post:
      summary: Stripe webhook endpoint
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        '200': { description: Acknowledged }
        '400': { description: Invalid signature or payload }
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
